body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background: #121212;
  color: #fff;
  font-family: "Lora", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

header {
  background: #1f1f1f;
  padding: 20px;
  text-align: center;
  box-shadow: 0 2px 5px rgba(0,0,0,0.4);
}

h1 {
  margin: 0;
  color: #00ff99;
}

h3 {
  color: #ccc;
}

nav {
  margin-top: 15px;
}

nav a {
  margin: 0 15px;
  text-decoration: none;
  color: #00ffcc;
  font-weight: bold;
  transition: color 0.3s;
}

nav a:hover {
  color: #00ffaa;
}

main {
  padding: 40px 20px;
}

.dashboard {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.poubelle-card, .poubelle2 {
  background: #1e1e1e;
  border: 1px solid #333;
  border-radius: 10px;
  padding: 20px;
  margin: 20px;
  width: 300px;
  box-shadow: 0 0 10px #00ffaa33;
  transition: transform 0.3s;
}

.poubelle-card:hover, .poubelle2:hover {
  transform: scale(1.02);
}

progress {
  width: 100%;
  height: 20px;
}

footer {
  text-align: center;
  background: #1f1f1f;
  padding: 15px;
  margin-top: 40px;
  border-top: 1px solid #333;
  color: #aaa;
}
.hero {
  text-align: center;
  padding: 100px 20px;
  background: linear-gradient(to bottom, #121212, #1e1e1e);
  border-bottom: 1px solid #333;
}
.hero h1 {
  font-size: 3em;
  color: #00ff99;
}
.hero p {
  color: #ccc;
  font-size: 1.2em;
}
.hero .btn {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 25px;
  background: #00ffaa;
  color: #000;
  text-decoration: none;
  border-radius: 20px;
  font-weight: bold;
  transition: background 0.3s;
}
.hero .btn:hover {
  background: #00ffcc;
}
.apropos {
  font-family: "Lora", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
body.dark-mode {
  background-color: #111;
  color: #eee;
  font-family: Arial, sans-serif;
}
header, footer {
  background-color: #1c1c1c;
  padding: 15px;
  text-align: center;
}
nav a {
  margin: 0 10px;
  color: #00ffaa;
  text-decoration: none;
}
section.controle {
  padding: 20px;
}
.video-stream video {
  width: 100%;
  max-width: 600px;
  border: 2px solid #00ffaa;
  border-radius: 10px;
}
h2 {
  margin-top: 40px;
  color: #00ff99;
}
ul {
  list-style: square;
  padding-left: 20px;
}
.historique-container {
  display: flex;
  gap: 1.5rem;
  padding: 1rem;
  flex-wrap: wrap;
}

.poubelle {
  flex: 1;
  min-width: 200px;
  background: #1e1e1e;
  color: white;
  padding: 1rem;
  border-radius: 10px;
}

.poubelle h3 {
  margin-top: 0;
  font-size: 1.3rem;
}
.historique-tri-categories table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 15px;
  background-color: #2b2b2b;
  color: #fff;
  font-family: sans-serif;
}

.historique-tri-categories th,
.historique-tri-categories td {
  border: 1px solid #444;
  padding: 10px;
  text-align: left;
}

.historique-tri-categories th {
  background-color: #3a3a3a;
}
